<div class="container">
	<div id="login" class="<%= 'hidden' if session[:valid] %>">
		<input id="pass" type="password" class="form-control" placeholder="Password" />
	</div>
	<div id="panel" class="<%= 'hidden' if not session[:valid] %>">
		<div class="vote-active <%= 'hidden' if not $voting %>">
			<h1 id="is-voting" class="text-success">Röstning pågår</h1>
			<h1 id="done-voting" class="text-primary hidden">Röstning avslutad</h1>
			<h2>Antal närvarande: <span id="voter-count">--</span></h2>
			<div class="row">
				<div class="col-sm-6">
					<div id="voting-options" class="well">
						<% total = $voteCounter.map { |a| a[1] }.reduce { |a,s| a + s } %>
						<div id="total" class="hidden"><%= total %></div>
						<% $voteOptions.each_with_index do |opt, i| %>
						<% p = (if total > 0 then $voteCounter[opt] / total.to_f * 100  else 0 end).round 2 %>
						<p class="opt-title-<%= i %>"><%= opt %> - <span><%= $voteCounter[opt] %></span> röst(er)</p>
						<div class="progress opt">
							<div class="hidden votes"><%= $voteCounter[opt] %></div>
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= p %>" 
								aria-valuemin="0" aria-valuemax="100" style="width:<%= p %>%;">
								<%= p %>%
							</div>
						</div>
						<% end %>
					</div>
				</div>
				<div class="col-sm-6">
					<div id="end" class="btn btn-lg btn-block btn-primary">Avsluta röstning</div>
					<div id="new" class="btn btn-lg btn-block btn-success hidden">Starta ny röstning</div>
				</div>
			</div>
		</div>
		<div class="vote-init <%= 'hidden' if $voting %>">
			<div class="row">
				<div class="col-sm-6">
					<h1>Sätt upp ny röstning</h1>
					<div id="add" class="btn btn-success">
						Lägg till alternativ
						<span class="glyphicon glyphicon-plus"></span>
					</div>
					<div class="well">
						<div id="options">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<h1>
						Kontroll
					</h1>
					<div id="begin" class="btn btn-lg btn-block btn-success">
						Starta röstning
					</div>
                    <div id="map" />
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhJ6mzbmHTvDXHvk_Y1xKDn68_PFegZAM&libraries=geometry">
  </script>
  <script type="text/javascript" src="/src/locationpicker.jquery.min.js" ></script>
